:root {
  /* ## Colors */

  /* ### Primary */

  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  /* ### Neutral */

  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  --clr-white: #fff;
  --clr-black: #000;

  /* Transition */
  --transition: all 400ms ease-in-out;

  /* Containers */
  --container-md: 96%;
  --container-lg: 88%;
}

/* GENERAL STYLE */
.container {
  width: var(--container-lg);
  margin: 0 auto;
  /* background-color: red; */
}

.nav__container {
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: green; */
}

.logo {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--very-dark-blue);
}

.nav__links {
  display: flex;
  align-self: center;
  gap: 1.5rem;
}

.nav__link {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--dark-grayish-blue);
  transition: var(--transition);
}

.nav__link:hover {
  color: var(--soft-red);
}

.nav__btns {
  display: none;
}

@media(max-width: 780px) {
  .nav__links {
    position: fixed;
    inset: 0 0 0 20%;
    background-color: var(--clr-white);
    align-items: start;
    padding-top: 6rem;
    flex-direction: column;
    padding-left: 2rem;
    gap: 1.5rem;
    transform: translateX(100%);
    transition: var(--transition);
  }

  .show {
    transform: translateX(0);
  }

  .nav__btns {
    position: absolute;
    top: 3%;
    right: 4%;
    z-index: 20;
  }

  .nav__btns button {
    background-color: transparent;
    font-size: 1.8rem;
    border: none;
  }

  .close-nav-btn {
    display: none;
  }

  .nav__link {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--very-dark-blue);
  }
}

@media (min-width: 780px) {
  .container {
    width: var(--container-lg);
  }
}